//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

@layout__max-width: 1223px;

@layout-column__left-width: 25.8%;
@layout-column__right-width: 25.8%;
@layout-column-main__width-2-left: 74.2%;

@h1__font-size-desktop: 22px;
@font-size__base: 13px;
@active__color: @autostore_color_Golden-Poppy;
@tab-control__background-color: @autostore_color_white;
@tab-control__color: @autostore_color_black;
@tab-control__hover__color: @autostore_color_vivid-red;
@tab-control__active__color: @autostore_color_vivid-red;


@tab-control__font-size: @autostore_tab-control__font-size;
