//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

// Font family
@font-family__base: @font-family__rubik;

//  Width
@layout__max-width: @page__max-width;
@sidebar__width: 3;

// Font-sizes
@body__font-size: 14px;
@_breadcrumbs-font-size: 14px;
@h3__font-size: 24px;
@h4__font-size: 22px;
@h5__font-size: 18px;
@h5__margin-bottom: 0;
@h1__font-size-desktop: @h1-autostore-font-size;
