//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All newF variables should be placed in local theme lib or local theme files

//
//  Variables
//  _____________________________________________

//  Text attributes
@swatch-option-text__background: @autoStore-color-white;

//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__max-width: 1170px;
@layout-indent__width: 0;

//
//  Links
//  ---------------------------------------------
@link__hover__color: @autoStore-color-alizarin;
@link__active__color: @autoStore-color-alizarin;
@link__hover__text-decoration: none;
@link__active__text-decoration: none;

//
//  Headings
//  ---------------------------------------------
@h1__font-size-desktop: 30px;
@h1__font-weight: @font-weight__regular;
@h1__margin-bottom__desktop: @indent__m;

//
//  Form variables
//  _____________________________________________

//
//  Form elements inputs default variables
//  ---------------------------------------------

//
//  Input-text
//  ---------------------------------------------
@input-text__border: 2px solid @main-content__border-color;
@input-text__border-radius: 5px;
@input-text__height: 44px;
@input-text__font-family: @font-family__Rubik;

//
//  Select
//  ---------------------------------------------
@select__background: @autoStore-color-white-smoke;
@select__border: 1px solid  @main-content__border-color;
@select__border-radius: 5px;
@select__height: 31px;
@select__font-size: @font-size__base - 1px;
@select__font-family: @font-family__Rubik;

//
//  Buttons variables
//  _____________________________________________

//
//  Buttons
//  ---------------------------------------------

//  Primary button
@button-primary__font-family: @font-family__Rubik;
@button-primary__line-height: 40px;
@button-primary__padding: 0;
@button-primary__background: @autoStore-color-nero;
@button-primary__hover__background: @page-item__color__hover;
@button-primary__border: none;
@button-primary__hover__border: none;

//  Button with icon
@header-icons-color: @autoStore-color-white;

//
//  Dropdowns variables
//  _____________________________________________

//
//  Variables simple dropdown
//  ---------------------------------------------
@dropdown-list__border: 1px solid @main-content__border-color;
@dropdown-list__position-left: calc(~'100% - 200px');
@dropdown-list__shadow: 0 0 10px rgba(0, 0, 0, 0.25);
@dropdown-list__margin-top: 0;

//
//  Navigation variables
//  _____________________________________________

@navigation__background: @header-nav-section__bg-color;
