//
//  monnier theme variables
//  _____________________________________________
//
//  Typography
//  ---------------------------------------------
@autostore_h1__font-size-desktop: 22px;
@autostore_tab-control__font-size: 18px;



//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__Rubik-Bold: Rubik;
@font-family__Rubik-Bold: @font-family-name__Rubik-Bold, @font-family__sans-serif;

@font-family-name__Rubik-Regular: Rubik;
@font-family__Rubik-Regular: @font-family-name__Rubik-Regular, @font-family__sans-serif;

//
//  Sections variables

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
@autostore_color_Gray80: #cccccc;
@autostore_color_mostly-black: #282828;
@autostore_color_vivid-red: #FF2D37;
@autostore_color_mostly-white: #F5F5F5;
@autostore_color_white-Smoke: #F8F8F8;
@autostore_color_white: #fff;
@autostore_color_black: #000000;
@autostore_color_Very-light-gray: #e5e5e5;
@autostore_color_Grey: #888;
@autostore_color_Nero: #181818;
@autostore_color_Light_Black: #111;
@autostore_color_Light_Gainsboro: #DDDDDD;
@autostore_color_Silver: #BBBBBB;
@autostore_color_Dim-Gray: #686868;
@autostore_color_Dodger-Blue: #3599FF;
@autostore_color_Carmine: #950C20;
@autostore_color_Cobalt: #0055AC;
@autostore_color_Whisper: #E5E5E5;
@autostore_color_Jade: #00BF67;
@autostore_color_Golden-Poppy: #FDC500;
