//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-family-name__rubik: 'Rubik';
@font-family__rubik: @font-family-name__rubik, @font-family__sans-serif;
@h1-autostore-font-size: 30px;

@page__max-width: 1230px;
@layout-column__sidebar-width: @sidebar__width;
@auto-store__point-desctop: 1200px;
@currency-choice__width: 132px;
@image__url: '../images/';
@number_of_cards: 3;

// Theme colors
@autostore-color-nero: #282828;
@autostore-color-alizarin: #FF2D37;
@autostore-color-whisper: #E5E5E5;
@autostore-color-white-smoke: #f5f5f5;
@autostore-color-white: #ffffff;
@autostore-color-black: #000000;
@autostore-color-cod-gray: #181818;
@autostore-color-silver: #CCCCCC;
@autostore-color-alto: #DDDDDD;
@autostore-color-scorpion: #575757;
@autostore-color-dove-gray: #686868;
@autostore-color-alabaster: #F8F8F8;
@autostore-color-tundora: #484848;
@autostore-color-silver: #C5C5C5;
@autostore-color-dodger-blue: #3599FF;
@autostore-color-endeavour: #0055AC;
@autostore-color-monarch: #950C20;
@autostore-color-very-dark-gray: #111111;
@autostore-color-light-green: #00BF67;

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
