@font-face {
    font-family: "AT Sackers Heavy Gothic";
    src: url("../fonts/AT_Sackers_Heavy_Gothic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Helvetica Inserat - Roman";
    src: url("../fonts/HelveticaInseratLTStd-Roman.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
.page-wrapper .page-main{
    max-width: 1283px;
    padding: 0;
}
.page-wrapper .page-main .page-titles{
    text-align: center;
    color: #000000;
    font-family: "AT Sackers Heavy Gothic";
    font-size: 20px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: -0.1px;
    margin-bottom: 24px;
    margin-top: -3px;
}

.cart-wrapper {
    display: flex;
    width: 100%;
}

.cart-wrapper-left {
    width: 52%;
    display: flex;
    flex-wrap: wrap;
}
.cart-wrapper-right {
    width: 50%;
    margin-left: -6px;
}
.cart-wrapper-left .card {
    width: 50%;
}

.cart-wrapper-right {
    margin-left: -6px;
}

.cart-wrapper .card .description p:nth-child(1) {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 11px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.cart-wrapper-left .card {
    width: calc(50% - 19px);
    padding-right: 18px;
}

.cart-wrapper .card .description .title-card {
    padding: 0;
    margin: 0;
    font-family: "AT Sackers Heavy Gothic";
    text-align: center;
    line-height: 22px;
    display: block;
    font-size: 26px;
    color: #000;
}
.cart-wrapper .card .description a.card-link{
    text-align: center;
    display: block;
    color: #000;
    font-size: 13px;
    padding: 1px 10px 25px;
    text-decoration: underline;
}

.cart-wrapper .card .description p.bottom-description {
    font-size: .85em;
    text-align: center;
    font-family: "Montserrat - Regular";
    font-weight: 400;
    letter-spacing: -0.17px;
    line-height: 14px;
    padding: 13px 13px 0 ;
    overflow: hidden;
}

.blockImg{
    position: relative;
    display: block;
}
.blockImg .heroProduct{
    content: attr(data-name);
    position: absolute;
    top: 32px;
    left: 24px;
    font-family: "Helvetica Inserat - Roman";
    font-size: 67px;
    text-transform: uppercase;
    width: 245px;
    line-height: 60px;
    pointer-events: none;
}
@media screen and (max-width: 1366px){
    .page-wrapper .page-main{
        padding: 0 15px;
    }
}
@media screen and (max-width: 1024px){
    .cart-wrapper-right{
        width: 40%;
    }
    .cart-wrapper-left{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    .cart-wrapper {
        flex-direction: column;
    }
    .cart-wrapper-left {
        width: 100%;
    }
    .cart-wrapper-right {
        width: 100%;
    }
    .blockImg a img {
        width: 100%;
    }
    .cart-wrapper-left .card{
        width: calc(50% - 12px);
    }
    .card:nth-child(2n){
        padding-right: 0;
    }
}
@media screen and (max-width: 768px){
    .cart-wrapper-left {
        flex-direction: column;
    }
    .cart-wrapper-left .card {
        width: 100%;
        padding: 0;
    }
}
