//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Links
//  ---------------------------------------------

@link__color: @autostore-color-black;


//
//  Headings
//  ---------------------------------------------
@base__font-size: 11px;
@h2__font-size: 13px;
@h2__font-color: @monnier-color-black;
@h3__font-size: @base__font-size;
@h3__font-color: @monnier-color-black;


//
//  Form elements inputs default variables
//  ---------------------------------------------

@form-element-input__font-size: @base__font-size;
@form-element-input__background: @monnier-color-romance;
@form-element-input__height: 28px;
@form-element-input__font-weight: 400;


//
//  Buttons
//  ---------------------------------------------

@button__font-family: @font-family__montserrat;
@button-primary__font-weight: 500;
@button-primary__padding: 7px 31px;
@button-primary__font-size: 12px;
@button-primary__margin: 16px 0 0 0;

//  Default = secondary button

@button__color: @monnier-color-gray;
@button__background: @monnier-color-black;


//
//  Navigation variables
//  _____________________________________________

@navigation-desktop__font-size: @base__font-size;
@navigation-desktop__font-weight: 500;
@navigation-desktop-level0-item__line-height: 24px;
@navigation-desktop-level0-item__color: @monnier-color-black;

//
//  Layout
//  _____________________________________________

@layout__max-width: 1364px;
