//
//  monnier theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__ATSackersHeavyGothic: "AT Sackers Heavy Gothic";
@font-family__ATSackersHeavyGothic: @font-family__sans-serif, @font-family-name__ATSackersHeavyGothic;

@font-family-name__HelveticaInseratLTStd-Roman: "Helvetica Inserat - Roman";
@font-family__HelveticaInseratLTStd-Roman: @font-family__sans-serif, @font-family-name__HelveticaInseratLTStd-Roman;

@font-family-name__montserrat: 'Montserrat';
@font-family__montserrat: @font-family__sans-serif, @font-family-name__montserrat;

//
//  Sections variables

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
@monnier-color-gray:#808080;
@monnier-color-romance:#f7f3ea;
@monnier-color-black:#000;
@monnier-color-white:#fff;


@btn-subscribe__bg-color: @monnier-color-black;
@footer__bg-color: @monnier-color-romance;
@header-promotion__text-color: @monnier-color-gray;
@header-promotion__bg-color: @monnier-color-romance;
@monnier_base__color: @color-black;


//
//  Font-sizes
//  ---------------------------------------------

@monnier_font-size__note: 67px;
@monnier_base__font-size__note__xs: 30px;
@monnier_base__font-size: 11px;
@monnier_base__line-height: 1.4;
