//
//  monnier theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------
@monnier_defult_font_size:11px;
@monnier_h1_font_size:22px;
@monnier_top_product_font_size:67px;
@monnier_oferte_block_font_size:9px;
//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__ATSackersHeavyGothic: "AT Sackers Heavy Gothic";
@font-family__ATSackersHeavyGothic: @font-family__sans-serif, @font-family-name__ATSackersHeavyGothic;

@font-family-name__HelveticaInseratLTStd-Roman: "Helvetica Inserat - Roman";
@font-family__HelveticaInseratLTStd-Roman: @font-family__sans-serif, @font-family-name__HelveticaInseratLTStd-Roman;

@font-family-name__montserrat: 'Montserrat';
@font-family__montserrat: @font-family__sans-serif, @font-family-name__montserrat;

//
//  Sections variables

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
@monnier_base_text_color:#000000;
@monnier_border_color:#808080;
@monnier_base_white_color:#ffffff;
@monnier_footer_bg_color:#f7f3ea;
