//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__ATSackersHeavyGothic: "AT Sackers Heavy Gothic";
@font-family__ATSackersHeavyGothic: @font-family-name__ATSackersHeavyGothic, @font-family__sans-serif;

@font-family-name__HelveticaInseratLTStd-Roman: "Helvetica Inserat - Roman";
@font-family__HelveticaInseratLTStd-Roman:  @font-family-name__HelveticaInseratLTStd-Roman,@font-family__sans-serif;

@font-family-name__montserrat: 'Montserrat';
@font-family__montserrat: @font-family-name__montserrat, @font-family__sans-serif;

//
//  Colors
//  ---------------------------------------------

@monnier-color-gray:#808080;
@monnier-color-romance:#f7f3ea;
@monnier-color-black:#000;
@monnier-color-white:#fff;


//
//  Color nesting
//  ---------------------------------------------

@btn-subscribe__bg-color: @monnier-color-black;
@footer__bg-color: @monnier-color-romance;
@header-promotion__text-color: @monnier-color-gray;
@header-promotion__bg-color: @monnier-color-romance;
@button-primary__background: @monnier-color-black;

//
//  Font-sizes
//  ---------------------------------------------

@font-size__note: 67px;
@font-size__note__xs: 30px;
@footer__font-size: 11px;
@btn-subscribe__font-size: @font-size__s;
@header-promotion__font-size: 9px;


//
//  Breakpoints
//  ---------------------------------------------
@layout__max-width: 1364px;
@layout__max-width__screen_m: 1315px;

//
//  Tabs
//  ---------------------------------------------

@tab-content__border-top-status: true;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
