//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//@screen__l:1024px;


//
//  Links
//  ---------------------------------------------

@link__color: @autostore-color-black;


//
//  Headings
//  ---------------------------------------------

@h2__font-size: @font-size-title;
@h2__font-color: @autostore-color-black;
@h2__font-family: @font-family__sackers;
@h2__font-weight: @font-weight__regular;

@h3__font-size: @font-size-title;
@h3__font-color: @autostore-color-black;
@h3__font-weight: @font-weight-bolds;
@h3__line-height: @line-height-title;


//
//  Form elements inputs default variables
//  ---------------------------------------------

@form-element-input__font-size: @font-size-autostore-small;
@form-element-input__background: @autostore-color-merino;
@form-element-input__height: 28px;
@form-element-input__font-weight: @font-weight__regular;


//
//  Buttons
//  ---------------------------------------------

@button__font-family: @font-family__monsterrat;
@button__font-size: @font-size-autostore-small;
@button__font-weight: @font-weight__regular;
@button__line-height: @font-size-eleven + 3;

//  Default = secondary button

@button__color: @autostore-color-text-gray;
@button__background: @autostore-color-black;


//
//  Navigation variables
//  _____________________________________________

@navigation-desktop__font-size: @font-size-autostore-small;
@navigation-desktop__font-weight: @font-weight__heavier;
@navigation-desktop-level0-item__line-height: @line-height-level-top;
@navigation-desktop-level0-item__color: @autostore-color-black;
