//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

@screen__mobile-second: 576px;
@screen__tablet: 992px;
@page_max-width: 1366px;

//    Colors
@action__color: @nav-sections__background-color;
@action__background-color: @navigation__color;
@action__border: @page-title__color;
@bred-crams-editorial__color: @page-title__color;
@title-text__color: @navigation__color;
@nav-sections__background-color: #ffffff;
@navigation__background-color: @nav-sections__background-color;
@navigation__color: #000000;
@section-point__color: @navigation__color;
@page-footer__background-color: @page-title__background-color;
@page-title__background-color: #f7f3ea;
@page-title__color: #808080;
@link_color: @navigation__color;
@input__border: 1px solid @page-title__color;
@input__background-color: @page-title__background-color;

//  Properties
@background-image__url: "../images/";
@page-title__font-size: 9px;
@header-link-text__text-indent: -10000px;
@header-links__width: 19px;
@header-links__height: 19px;
@section-title__font-weight: 600;
@action__font-weight: normal;
@action__font-size: 11px;
@action__border-hover: none;
@input__font-size: 12px;
@input__padding: 0 0 0 1px;
@input__margin: 0;
